.meals {
  display: inline-flex;
  flex-direction: column;
}

@media only screen {
  .container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-top: 20px;
  }
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
